*,
*::before ,
*::after {
    box-sizing: border-box;
}

:root {
    --main-font:"Inter", sans-serif;
    --first-color:#f6f6eb;
    --second-color:#11284b;
    --third-color:#381fd1;
    --fourth-color:#4b4b4e;
    --fifth-color:#ffffff;
    --sixth-color:#f3f2fc;
    --seventh-color:#ffff00;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: var(--main-font);
}

img {
    width: 30px;
}

.nav-bar {
    background: var(--first-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mini-nav-bar-one,
.mini-nav-bar-two {
    display: flex;
    /* gap: 80px; */
    gap: 50px;
    margin: 0;
    align-items: center;
}

.first-image {
    width: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.mini-nav-bar-one,
.mini-nav-bar-two > li {
    font-size: 0.70rem;
    color: var(--third-color);
    font-weight: bold;
    margin: 0;
}

.nav-item:hover {
    cursor: pointer;
    border: 2px solid var(--third-color);
    padding: 5px 25px;
    border-radius: 3px;
}

.first-btn {
    font-size: 0.70rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--sixth-color);
    background: var(--third-color);
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 1.2px;
    cursor:pointer ;
}

.main-container {
    padding: 1.5rem 3.5rem;
    font-size: 0.65rem;
    display: flex;
    color: var(--fourth-color);
    gap: 40px;
}

.container-one {
    width: 350px;
    font-weight: 600;
}

.second-item {
    border: 1px solid var(--fourth-color) ;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    line-height: 2.5;
    padding: 1.2rem;
}

.first-list-item {
    color: var(--third-color);
}

.third-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

.second-list-item:hover,
.third-list-item:hover{
  color: var(--third-color);
}

.drop-down-list {
    display: none;
}

.drop-down-visible {
    display: block;
    list-style-type: none;
    cursor: pointer;
    color: var(--fourth-color);
}

.third-list-item .drop-down-visible li:hover {
    color: var(--third-color);
}


.arrow-image {
    cursor: pointer;
    width: 15px;
}


.arrow-image-open {
    transform: rotate(180deg);
}


.mini-container-one {
    background:var(--sixth-color) ;
    padding: 1.4rem;
    border-radius: 3px;
}

.item-one {
    font-size: 1.1rem;
    color: var(--second-color);
    margin: 0;
    font-weight: 900;
    letter-spacing: 1px;
}

.item-two {
    line-height: 2;
}

.second-btn {
    text-decoration: none;
    color: inherit;
    background: var(--third-color);
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    color: var(--fifth-color);
    border-radius: 5px;
    margin: 0;
    
}

.first-mini-container-two,
.third-mini-container-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
}


.first-text {
    font-size: 1.8rem;
    color: var(--second-color);
    font-weight: 700;
    margin-top: 0;
}

.first-text span {
    font-size: 0.75rem;
    display: block;
    font-weight: 300;
    color: var(--fourth-color);
}

.second-mini-text {
    font-size: 0.55rem;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.mini-text {
    font-size: 0.70rem;
}

.second-mini-container-two {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    width: 200px;
    padding: 1rem;
    border: 1px solid var(--fourth-color);
    border-radius: 3px;
}

.text-one {
    color: var(--third-color);
}

.text-two {
    color: var(--second-color);
    font-weight: 700;
    font-size:  0.85rem;
    text-wrap: wrap;
}


.third-mini-container-two > .first-text {
    margin-top: 20px;
}


.fourth-mini-container-two {
    display: flex;
    gap: 20px;
    height: 300px;

    > * {
        background-repeat: no-repeat;
        background-size: contain;
        padding: 1.2rem;
        background-position: bottom;
    }
}

.fourth-text {
    font-size: 1rem;
    color: var(--second-color);
    font-weight: 600;
}

.fourth-item-one,
.fourth-item-two,
.fourth-item-three {
    width: 200px;
    border-radius: 5px;
}


.fourth-item-one {
    background-image: url(./Images/library_collection_Collection_Boundless_Disability_Employment_c297d236d9.png);
    background-color: var(--first-color);
}

.fourth-item-two {
    background-image: url('./Images/library_collection_making_accessible_color_combos_42c8d90a99.png');
    background-color: var(--sixth-color);
}

.fourth-item-three {
    background-image: url('./Images/library_collection_Inclusive_Social_Media_b9669e6d39.png');
    background-color: var(--first-color);
}

.last-container {
    background-color: var(--second-color);
    color: var(--fifth-color);
    padding: 3.5rem;
}

.last-container-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.last-container-one h2 {
    width: 400px;
    font-size: 1.8rem;
    margin-top: 0;
}

.last-image-one {
    width: 40px;
    border-radius: 50%;
}

.last-container-two {
    display: flex;
    /* justify-content: space-between; */
    gap: 150px;
    font-size: 0.65rem;
}

.last-container-two p {
    font-weight: 600;
}

.last-container-three {
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    align-items: center;
    margin-top: 30px;
}

.mini-last-container-three {
    display: flex;
    gap: 15px;
    align-items: center;
}

.last-image-two {
    width: 20px;
    height: 20px;
}

.last-text {
    font-size: 0.6rem;
    color: var(--seventh-color);
    font-weight: 600;
}